@model IEnumerable<BookStore.Application.Response.BookResponse.GetBooksViewModel>

<div class="container body-content">
    <div class="row book-content">
        @foreach (var book in Model)
        {
            <div class="book-image-container">
                <div class="book-image" style="background-image:url(@book.ImageUrl)"></div>
            </div>

            <span>@book.Name (Author: @book.Author) </span>
            <span>@book.Language @book.ISBN </span>
        }
    </div>
</div>